li {
  border-right: 1px solid #bbb;

}
li:last-child{
  border-right: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: right;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #111;
}

{box-sizing: border-box;}

header::after {
  content: "";
  clear: both;
  display: table;
  }

  header {
  background: #F0F3F4;
  }

  .h1 {
  font-family: 'Open Sans', sans-serif;
  }

  .heading {
  text-align: center;
  }

  nav {
  text-align: center;
  }

  nav ul {
  list-style: none;
  margin: 10px;
  }

  nav li {
  display: inline-block;
  }
  body{
    background: white;
    height:100vh;
    margin: 0;
    display: grid;
    place-items: center;

  }

 .cards{
   display: flex;
   flex-wrap: wrap;


 }
 .card{
   border-radius: 1rem;
   background: white;
   padding: 2rem;
   margin-left: -2rem;
   box-shadow: 4px 4px 12px 2px;
   overflow: hidden;
   transition: 0.8s;

}

.card:hover {
  transform:translate(1rem);
  transition: 0.2s;
  box-shadow: 0 8px 16px 0 black;

}
 .card img{
   float: left;

 }
 .container{
   float: inherit;
 }
 .card{
   font-family: Cantarell, sans-serif;
   font-weight: bold;

 }
 .blogp{
   display: none;
 }
 .luizap{
   display: none;
 }
 #blog{
   display: flex;
   justify-content: space-around;
   margin-top: 10px;
   padding-left: 20px;
 }
 .row{
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  margin: 0 auto;
  font-family: sans-serif;
  position: relative;

 }
  .row img{
    display: block;
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .5s ease;
  }
  .p{
    display: none;
  }
